* {
  cursor: url("../logo/ai.png"), auto; /* Custom cursor image */
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
}
html {
  width: 650px;
  background-color: #f3f3f3;
}
#loader {
  display: none;
  margin: 20px auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#output {
  margin-top: 20px;
  padding: 20px;
  width: 95%;
  max-width: 600px;
  word-wrap: break-word;
}

#promptInput {
  width: 600px;
  max-width: 100%; /* Ensures responsiveness on smaller screens */
  padding: 10px 15px; /* Add some padding for better usability */
  border: 2px solid #ccc; /* Neutral border color */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Comfortable font size */
  line-height: 1.5; /* Good line spacing for readability */
  outline: none; /* Remove default focus outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

/* Add focus effect */
#promptInput:focus {
  border-color: #009688; /* Change border color on focus */
  box-shadow: 0 4px 8px rgba(0, 150, 136, 0.3); /* Enhanced shadow on focus */
}

.nav-btn {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid rgb(156, 156, 253); /* Regular border */
  background-color: rgba(
    255,
    255,
    255,
    0.674
  ); /* Plain background for the inside */
  color: transparent; /* Make the text color transparent */
  font-weight: 650;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  /* Apply the gradient to the text */
  background: linear-gradient(to right, rgb(56, 56, 251), turquoise, #ff4f5a);
  -webkit-background-clip: text; /* For webkit browsers (Chrome, Safari, etc.) */
  background-clip: text; /* For non-webkit browsers */
}
.nav-btn-active {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid rgb(156, 156, 253); /* Transparent border to allow gradient */
  background: linear-gradient(
    to right,
    rgb(56, 56, 251),
    turquoise,
    #ff4f5a
  ); /* Gradient background */
  margin-right: 5px;
  color: white; /* White text color */
  font-weight: bold; /* Optional: make text bold */
  text-align: center;
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  max-width: 650px;
  margin: 20px auto;
}

label {
  font-size: 16px;
  color: #333;
}

input,
select {
  /* padding: 10px;  */

  width: 600px;
  max-width: 100%; /* Ensures responsiveness on smaller screens */
  padding: 10px 18px; /* Add some padding for better usability */
  border: 2px solid #ccc; /* Neutral border color */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Comfortable font size */
  line-height: 1.5; /* Good line spacing for readability */
  outline: none; /* Remove default focus outline */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
  box-sizing: border-box; /* Ensure consistent sizing */
  /* appearance: none; Remove browser's default styles for select */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mode-btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 5px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.mode-btn:hover,
.mode-btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.mode-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.mode-btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.redy {
  background-color: #f4e1e1;
  border-radius: 3px;
  border: 1px solid #c77a7a;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #9d3939;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 5px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.redy:hover,
.redy:focus {
  background-color: #eab3b3;
  color: #772c2c;
}

.redy:focus {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.15);
}

.redy:active {
  background-color: #e4a0a0;
  box-shadow: none;
  color: #772c2c;
}
#footnote {
  font-weight: 100;
  font-style: italic;
  color: #0f0f0f;
}
/* Default state is red */
#sessionStatus {
  color: green;

  padding: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 7px;
  font-size: 14px;
}

/* Green when specific success messages are shown */
#sessionStatus.green {
  color: green;
}

/* Summarizer styles */

.summarizer textarea {
  width: 600px;
  max-width: 100%;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  height: 100px;
  resize: none;
}

.summarizer textarea:focus {
  border-color: #009688;
  box-shadow: 0 4px 8px rgba(0, 150, 136, 0.3);
}

.summarizer ::placeholder {
  text-align: start;
}

#summarizeBtn {
  width: 100%;
  padding: 10px;
  font-size: 18px;

  background: linear-gradient(90deg, #3b6bff, #2e96ff 65%, #acb7ff);
  border-radius: 8px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#summarizeBtn:hover {
  border-color: #c6c6c6;
}

.summarizer #output {
  margin-top: 10px;
  padding: 0;
}

.summarizer #summaryText {
  font-size: 14px;
  color: #555;
}

#charCount {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-align: end;
}

#charCount.exceed {
  color: red;
}

@keyframes expanding {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

#loadingImage {
  height: 1.25rem;
  transform-origin: left;
  animation: expanding 0.4s 0.7s forwards linear,
    moving 1s 1s infinite forwards linear;
  border-radius: 0.125rem;
  background-image: linear-gradient(
    to right,
    #eff6ff 30%,
    #2563eb60 60%,
    #eff6ff
  );
  background-size: 200% auto;
  opacity: 0;
  animation-delay: 100ms;
  z-index: 2;
  display: inline-block;
}

.main-logo {
  margin-bottom: 10px;
  margin-top: 10px;
}
